/*
GIVEN I need to sample a potential employee's previous work
WHEN I load their portfolio
THEN I am presented with the developer's name, a recent photo or avatar, and links to sections about them, their work, and how to contact them
WHEN I click one of the links in the navigation
THEN the UI scrolls to the corresponding section
WHEN I click on the link to the section about their work
THEN the UI scrolls to a section with titled images of the developer's applications
WHEN I am presented with the developer's first application
THEN that application's image should be larger in size than the others
WHEN I click on the images of the applications
THEN I am taken to that deployed application
WHEN I resize the page or view the site on various screens and devices
THEN I am presented with a responsive layout that adapts to my viewport
*/

:root {
    --color: red;
    --background-color: black;
    --border-color: aqua;

}
* {
font-family:Arial, Helvetica, sans-serif;
}
body{
    background-color: var(--background-color);
    color: var(--color);
    display:block;
    position: relative;
}

nav {
    position: relative;
    display: flex;
    background-color: var(--background-color);
    padding: 1rem;
    border: 10px solid;
    border-radius: 10px;
    border-color: var(--border-color);
    justify-content:space-between;
    margin-bottom: 1rem;
}
nav li {
    display:inline;
    padding: 10px;
    font-size: 20px;
}
header{
    text-align: center;
    text-decoration:underline;
    font-size: larger
}
/*this defines my divisions into grids to get side by side title and content */
.bio,
.work,
.contact-me{
    display: grid;
    border-bottom:2px solid var(--border-color);
    padding: 10px;
    grid-template-columns: 0.5fr 1.5fr;
}

.bio-left,
.work-left,
.contact-me-left{
    display: block;
    border-right:2px solid var(--border-color);
    text-align:center;
    text-decoration: underline;
}
.bio-right img{
    display: flex;
    flex: 1 1 100px;
    max-width: 350px;
    margin-left: 25%;
}

.bio-right-details{
    display:flex;
    flex-wrap: wrap;
    flex: 1 1 200px;
    text-align: center;
    margin: 5%;
}
/*this allows the box .work-right to allow flex within itself while its being affected
by its parent to be in grid */
.work-right{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
/* this defines my images to flex and wrap into columns as well as max sizing 3 per screen. */
.work-right img{
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 33vh;
    justify-content: space-between;

}
/* this shows where the button is defined as well as masking that it is a button*/
button{
    background-color: var(--background-color);
    border-color: var(--border-color);
    margin: 20px;
}

button p{
    color: var(--color);
    text-align:center;
}
/* This will cause buttons to enlarge and display a small shadow when hovering over */
button:hover{
    box-shadow:10px 10px blue;
    scale: 1.1;
}

.contact-me-right{
    display: flex;
    justify-content: center;
    gap: 20px;
}
/* this section defines how the page will be displayed less then or equal to 768px*/
@media screen and (max-width: 768px) {
    nav {
        display:block;
        flex-wrap:wrap;
        text-align: center;
        max-width: 100vh;
    }
    .nav-links{
        display: grid;
        text-align: center;
        margin-left: -40px;  
    }
    .nav-header h1{
        text-align: center;
        
    }
    .bio,
    .work,
    .contact-me{
    display: block;
    border-bottom:2px solid var(--border-color);
    padding: 10px;
    }
    .bio-left,
    .work-left,
    .contact-me-left{
    display: block;
    border-bottom:2px solid var(--border-color);
    border-right: var(--background-color);
    text-align:center;
    text-decoration: underline;
    }
    .bio-right img{
        display: block;
        margin: 0%;
    }
    .contact-me-right{
        display: block;
        flex-wrap: wrap;
        text-align: center;
    }

    .contact-me-right a{
        display: grid;
    }
}
